/* CSS for subpages */

body {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

#pageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
    height: 100vh;
}

#titleHeaderText {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}
#uicButton:hover {
    cursor: pointer;
    color: var(--chalkRedLight);
}

#summaryBox {
    /* Make children list horizontally */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15%;
    font-size: 1.5em;
}

#summaryParagraph {
    /* Center children */
    display: flex;
    flex-direction: column;
}

#summaryImage {
    max-width: 100%;
    height: auto;
}

#contactButton {
    font-size: larger;
    color: black;
    background-color: white;
    border-radius: var(--radius);
    min-width: 30%;
    padding: 5px 20px;
    border: 0px solid var(--primary);
    /* center horizontally */
    margin: 0 auto;
    text-align: center;
}
#contactButton:hover {
    cursor: pointer;
    color: var(--bright);
    background-color: var(--chalkOrange);
}

.toolTip {
    position: relative;
    display: inline-block;
    color: var(--chalkRed);
}

.toolTip .toolTipText {
    font-weight: normal;
    visibility: hidden;
    background: var(--glassGradient);
    color: var(--primary);
    border-radius: 5px;
    width: 120px;
    bottom: 130%;
    left: 50%;
    margin-left: -60px;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.toolTip:hover .toolTipText {
    visibility: visible;
}

.toolTip .toolTipText::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--glass) transparent transparent transparent;
}

#abilityBox {
    display: flex;
    flex-direction: row;
    color: var(--chalkGreen);
}
#interestBox {
    color: var(--chalkBlue);
}
#recommendedBox {
    color: var(--chalkRed);
}
#contactBox {
    color: var(--chalkOrange);
    padding-bottom: 5vh;
}
.abilityCol {
    flex: 1;
    gap: 10%;
}
.abilityCol,
.containerBox {
    width: 50%;
    /* Center children */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerTitle {
    font-size: 2em;
    font-weight: bold;
}
.containerBody {
    font-size: 1.5em;
}

li {
    /* Take parent's color */
    color: inherit;
}

.colorInheritor {
    color: inherit;
}

/* DELETEME: This button style is only on rankup page, which is temporary. */

.wrap {
    /* Center children */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding-top: 5vh;
}
#rankHomeBtn {
    background: var(--glassGradient);
    font-size: xx-large;
    padding: 40px;
    border-radius: 20px;
    border: 0px solid black;
}
#rankHomeBtn:hover {
    cursor: pointer;
    background: var(--chalkRed);
    color: var(--bright);
}
