:root {
    --primary: #d1d1d1;
    --bright: #ffffff;
    --radius: 30px;
    --glass: #00000080;
    --bg: #1a040a;
    --bg2: #441216;
    --bg3: #7c1616;
    --glassGradient: linear-gradient(15deg, rgb(0, 0, 0) 0%, var(--glass) 100%);

    /* Chalk Palette */
    --chalkPink: #ff9cff;
    --chalkGreen: #5aea6d;
    --chalkBlue: #4fb2ff;
    --chalkRed: #ff504e;
    --chalkOrange: #ff9a4f;
    --chalkRedLight: #ff9290;

    /* Construction banner */
    --conTrans: 0.4;
}
