:root {
    --primary: #d1d1d1;
    --bright: #ffffff;
    --radius: 30px;
    --glass: #00000080;
    --bg: #140505;
    --bg2: #441216;
    --thickness: 1px;
    --border: var(--thickness) solid var(--primary);
    --brightBorder: var(--thickness) solid var(--bright);
    --glassGradient: linear-gradient(15deg, rgb(0, 0, 0) 0%, var(--glass) 100%);

    /* Logo Palette */
    --logoBg: #5c0202b2;
    --logoPrimary: #961a1a;
    --logoHighlight: #f12e2e;
}
